:root{
    --nav-menu-height: none;
}

#sectionMenu, .nav-wrapper, .nav-btns{
    display: flex;
}

#sectionMenu, .nav-wrapper{
    justify-content: center;
}

#sectionMenu{
    min-height: var(--nav-menu-height);
}

#diffs{
    z-index: 2;
}

.nav-wrapper{
    position: relative;
}

.nav-btns{
    column-gap: 0.8rem;
    list-style: none;
    position: absolute;
}

.nav-btns button{
    padding: 0.6em;
    width: 90px;
}

#sectionPrac{
    width: 100%;
    border: 1px solid black;
}

.answer{
    background-color: greenyellow;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 1.8rem;
    padding-block: 0.5em;
    padding-inline: 2.2em;
    transition: 0.2s;
}

.answer:hover{
    background-color: rgb(150, 218, 48);
    color: rgb(243, 243, 243);
    cursor: pointer;
}

.answer:active{
    transform: scale(1.05);
}