*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header{
    border-bottom: 2px solid #ccc;
    padding: 2rem 1rem;
}

.nav-btns{
    transition: 200ms;
}

.hide{
    opacity: 0;
}
